extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Blog
            a(href="/blog/tests-json-support-and-http-requests-over-ssl") Tests, JSON support, and HTTP requests over SSL
            .subheader September 28, 2016
            a(href="/blog/the-ponyo-handbook") The Ponyo Handbook
            .subheader April 25, 2016
            a(href="/blog/ponyo-for-standard-ml") Ponyo for Standard ML
            .subheader March 19, 2016