extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Documentation
            h3 Modules
            .modules
                .module
                    a(href="/documentation/container/list") PONYO_CONTAINER_LIST
                .module
                    a(href="/documentation/container/tree/binarysearch") PONYO_CONTAINER_TREE_BINARYSEARCH
                .module
                    a(href="/documentation/string") PONYO_STRING