extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Documentation
            p.
                The following is a (work-in-progress) list of documented modules.
                See the source for the complete list.
            h3 Modules
            .modules
                .module
                    a(href="/documentation/container/list") Container/List
                .module
                    a(href="/documentation/container/map") Container/Map
                .module
                    a(href="/documentation/format") Format
                .module
                    a(href="/documentation/os/path") Os/Path
                .module
                    a(href="/documentation/string") String