extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Downloads
            p.
                Ponyo can be downloaded from <a href="https://github.com/eatonphil/ponyo">Github</a>.
                Releases will be provided here as they come.