extends ./tmpl/base.jade

block body
    .container
        .container-small
            h1 Guides
                h2 Learn Standard ML
                ol.chapters
                    li
                        a(href="/guides/learn-standardml/getting-started") Getting Started
                    li
                        a(href="/guides/learn-standardml/interactive-top-level") The Interactive Top-level
                    li
                        a(href="/guides/learn-standardml/expressions-and-variables") Expressions and Variables
                    li
                        a(href="/guides/learn-standardml/functions") Functions
                    li
                        a(href="/guides/learn-standardml/lists-and-tuples") Lists and Tuples
                    li
                        a(href="/guides/learn-standardml/arrays-and-vectors") Arrays and Vectors
                    li
                        a(href="/guides/learn-standardml/records") Records
                    li
                        a(href="/guides/learn-standardml/exceptions") Exceptions
                    li
                        a(href="/guides/learn-standardml/basic-types") Basic Types
                    li
                        a(href="/guides/learn-standardml/variant-types") Variant Types
                    li
                        a(href="/guides/learn-standardml/structures-signatures-and-functors") Structures, Signatures and Functors
                    li
                        a(href="/guides/learn-standardml/ffi") The Foreign Function Interface
                    li
                        a(href="/guides/learn-standardml/debugging-and-profiling") Debugging and Profiling
                    li
                        a(href="/guides/learn-standardml/structuring-projects") Structuring Projects
                h2 Learn Ponyo
                ol.chapters
                    li
                        a(href="/guides/learn-ponyo/getting-started") Getting Started
                    li
                        a(href="/guides/learn-ponyo/parsing-json") Parsing JSON
                    li
                        a(href="/guides/learn-ponyo/a-basic-web-server") A Basic Web Server