extends ./tmpl/base.jade

block body
    .container
        .container-small
            .tracks
                .track
                    h4 Learn Standard ML
                    ol
                        li
                            a(href="/guides/learn-standardml/getting-started") Getting Started
                        li
                            a(href="/guides/learn-standardml/hello-world") The Poly/ML REPL
                        li
                            a(href="/guides/learn-standardml/functions") Functions
                        li
                            a(href="/guides/learn-standardml/lists-and-arrays") Lists and Arrays
                        li
                            a(href="/guides/learn-standardml/records") Records
                        li
                            a(href="/guides/learn-standardml/basic-types") Basic Types
                        li
                            a(href="/guides/learn-standardml/variant-types") Variant Types
                        li
                            a(href="/guides/learn-standardml/structures") Structures
                        li
                            a(href="/guides/learn-standardml/signatures") Signatures
                        li
                            a(href="/guides/learn-standardml/functors") Functors
                    h4 Learn Ponyo
                    ol
                        li
                            a(href="/guides/learn-ponyo/getting-started") Getting Started
                        li
                            a(href="/guides/learn-ponyo/parsing-json") Parsing JSON
                        li
                            a(href="/guides/learn-ponyo/a-basic-web-server") A Basic Web Server