extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Guides
            p.
                The Ponyo Guidebook is a collection of guides for learning
                Ponyo and (to a large extent) Standard ML. There will be a
                variety of tracks and new articles introduced over time. If you
                would like to contribute an article or start a new track, open
                a PR on Github!
            .tracks
                .track
                    h4#sml-basics Standard ML Basics
                    p.
                        This track assumes a basic understanding of programming
                        in a C-like language. It will cover the basics of
                        Standard ML using <a href="https://github.com/polyml/polyml">Poly/ML</a>.
                    ol
                        li
                            a(href="/guides/sml-basics/1") Hello world!
                    h4#ponyo-basics Ponyo Basics
                    p.
                        This track assumes a basic understanding of Standard ML.
                    ol
                        li
                            a(href="/guides/ponyo-basics/3") A basic web-server