extends ./tmpl/base.jade

block body
    style.
        header {
            background: white !important;
        }

        header .nav a {
            color: #333 !important;
        }

        body {
            font-family: sans-serif;
        }

        p, li {
            font-size: 1rem;
        }
    .header2
        .container
            h1 Ponyo
            h3 Library and Toolkit for Standard ML
            iframe(src="https://ghbtns.com/github-btn.html?user=eatonphil&repo=ponyo&type=star&count=true&size=large", frameborder="0", scrolling="0", width="160px", height="30px")

    .page#features
        .container
            .container-small
                h2 Features
                ul
                    li Datastructures: Hashtable, Red Black Tree, etc.
                    li HTTP server/client
                    li CLI argument parser
                    li Standard ML parser/lexer
                    li JSON encoder/decoder
                    li Enhanced build tool and top-level
                    li Documentation generator
                p And much more on the roadmap! Keep tuned for <a href="/blog">news</a>!
    .page#hello-world
        .container
            .container-small
                h2 Hello world!
                pre
                    code.ocaml.sml.
                        fun main () =
                            Ponyo.Format.println ["Hello world!\n"]
                pre
                    code(class="bash").
                        $ ponyo make helloworld.sml -o helloworld
                        $ ./helloworld
                p.
                    For more examples, check out the Ponyo
                    <a href="https://github.com/eatonphil/ponyo/tree/master/tool/ponyo">tool</a>
                    directory, the <a href="https://github.com/eatonphil/ponyo/tree/master/test">test</a>
                    directory, and the <a href="https://github.com/eatonphil/ponyo/tree/master/site">source</a>
                    for this site.

    .page#installation
        .container
            .container-small
                h2 Installation
                p.
                    Ponyo is a Standard ML library. Ponyo requires
                    <a href="https://github.com/polyml/polyml">Poly/ML</a> to bootstrap but can
                    use <a href="http://mlton.org/">MLton</a> to compile Ponyo programs. Ponyo
                    programs should generally work on macOS and Linux.

                p After Poly/ML has been installed, add the following lines to your ~/.profile:
                pre
                    code(class="bash").
                        # Ponyo path settings.
                        export PONYO_ROOT="/path/to/ponyo/repo"

                p Then, build Ponyo from git:
                pre
                    code(class="bash").
                        $ git clone https://github.com/eatonphil/ponyo && cd ponyo
                        $ make
                        $ sudo make install
    .page#standard-ml
        .container
            .container-small
                h2 Standard ML
                p.
                    To follow the Standard ML community in general, check out
                    <a href="https://reddit.com/r/sml">/r/sml</a>. The /r/sml
                    <a href="https://www.reddit.com/r/sml/wiki">wiki</a> is a great source
                    of information for getting started in Standard ML. Additionally, someone
                    is always available on Freenode at #sml.