extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 News
            p.article
                span(style="padding-right: 15px;") September 28, 2016
                a(href="/news/tests-json-support-and-http-requests-over-ssl") Tests, JSON support, and HTTP requests over SSL
            p.article
                span(style="padding-right: 15px;") April 25, 2016
                a(href="/news/the-ponyo-handbook") The Ponyo Handbook
            p.article
                span(style="padding-right: 15px;") March 19, 2016
                a(href="/news/ponyo-for-standard-ml") Ponyo for Standard ML