extends ./tmpl/base.jade

block body
    .container
        .container-small
            h2 Reference
            h3 Standard ML
            .modules
                .module
                    a(href="/reference/standardml/Array") Array
                .module
                    a(href="/reference/standardml/Bool") Bool
                .module
                    a(href="/reference/standardml/Char") Char
                .module
                    a(href="/reference/standardml/Int") Int
                .module
                    a(href="/reference/standardml/List") List
                .module
                    a(href="/reference/standardml/String") String
            h3 Ponyo
            .modules
                .module
                    a(href="/reference/ponyo/container/dict") Container/Dict
                .module
                    a(href="/reference/ponyo/container/list") Container/List
                .module
                    a(href="/reference/ponyo/container/map") Container/Map
                .module
                    a(href="/reference/ponyo/encoding/base64") Encoding/Base64
                .module
                    a(href="/reference/ponyo/encoding/json") Encoding/Json
                .module
                    a(href="/reference/ponyo/format") Format
                .module
                    a(href="/reference/ponyo/os/path") Os/Path
                .module
                    a(href="/reference/ponyo/string") String