extends ./tmpl/base.jade

block body
    .container
        .container-small
            h1 Reference
            .modules
                .module
                    a(href="/reference/ponyo/Container/Dict") Ponyo.Container.Dict
                .module
                    a(href="/reference/ponyo/Container/List") Ponyo.Container.List
                .module
                    a(href="/reference/ponyo/Container/Map") Ponyo.Container.Map
                .module
                    a(href="/reference/ponyo/Container/Tree/BinarySearch") Ponyo.Container.Tree.BinarySearch
                .module
                    a(href="/reference/ponyo/Container/Tree/RedBlack") Ponyo.Container.Tree.RedBlack
                .module
                    a(href="/reference/ponyo/Encoding/Json") Ponyo.Encoding.Json
                .module
                    a(href="/reference/ponyo/Format/String") Ponyo.Format.String
                .module
                    a(href="/reference/ponyo/Format/Template") Ponyo.Format.Template
                .module
                    a(href="/reference/ponyo/Int") Ponyo.Int
                .module
                    a(href="/reference/ponyo/Net/Socket") Ponyo.Net.Socket
                .module
                    a(href="/reference/ponyo/Net/Http/Client") Ponyo.Net.Http.Client
                .module
                    a(href="/reference/ponyo/Net/Http/Header") Ponyo.Net.Http.Header
                .module
                    a(href="/reference/ponyo/Net/Http/Request") Ponyo.Net.Http.Request
                .module
                    a(href="/reference/ponyo/Net/Http/Response") Ponyo.Net.Http.Response
                .module
                    a(href="/reference/ponyo/Net/Http/Router") Ponyo.Net.Http.Router
                .module
                    a(href="/reference/ponyo/Net/Http/Server") Ponyo.Net.Http.Server
                .module
                    a(href="/reference/ponyo/Os/Path") Ponyo.Os.Path
                .module
                    a(href="/reference/ponyo/Os/Terminal") Ponyo.Os.Terminal
                .module
                    a(href="/reference/ponyo/Os/Filesystem/Filesystem") Ponyo.Os.Filesystem
                .module
                    a(href="/reference/ponyo/Os/Filesystem/File") Ponyo.Os.Filesystem.File
                .module
                    a(href="/reference/ponyo/Real") Ponyo.Real
                .module
                    a(href="/reference/ponyo/String") Ponyo.String