extends ./tmpl/base.jade

block body
    .container
        .container-small
            h1 Reference
            h2 Ponyo
            .modules
                .module
                    a(href="/reference/ponyo/Container/Dict") Container/Dict
                .module
                    a(href="/reference/ponyo/Container/List") Container/List
                .module
                    a(href="/reference/ponyo/Container/Map") Container/Map
                .module
                    a(href="/reference/ponyo/Encoding/Base64") Encoding/Base64
                .module
                    a(href="/reference/ponyo/Encoding/Json") Encoding/Json
                .module
                    a(href="/reference/ponyo/Format") Format
                .module
                    a(href="/reference/ponyo/Os/Path") Os/Path
                .module
                    a(href="/reference/ponyo/String") String
            h2 Standard ML
            .modules
                .module
                    a(href="/reference/standardml/Array") Array
                .module
                    a(href="/reference/standardml/Bool") Bool
                .module
                    a(href="/reference/standardml/Char") Char
                .module
                    a(href="/reference/standardml/Int") Int
                .module
                    a(href="/reference/standardml/List") List
                .module
                    a(href="/reference/standardml/String") String