.ponyo-signature  {
    max-width: 600px;
}

.ponyo-signature pre {
    border-radius: 0;
    border: 1px solid #ccc;
}

.ponyo-signature h2 {}

.ponyo-signature-information {
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.ponyo-generic {
    margin: 10px 0;
    padding: 10px 0;
}

.ponyo-generic-signature {
    background: #eee;
    font-size: large;
    padding: 10px;
}

.ponyo-generic-name {
    font-weight: bold;
    padding: 0 10px;
}

.ponyo-generic-name-label-colon {
    padding-right: 10px;
}

.ponyo-generic-type {
    color: blue;
}

.ponyo-signature-description,
.ponyo-generic-description {
    padding: 15px 0;
}