.ponyo-signature  {
    max-width: 650px;
}

.ponyo-signature a {
    color: #333;
}

pre {
    background: #fcfcfc !important;
    border: 1px solid #ddd !important;
}
    
code.hljs {
    background: none !important;
}

.ponyo-signature pre {
    border-radius: 0;
    border: 1px solid #ccc;
}

.ponyo-generic {
    margin: 30px 0;
    padding: 30px;
    border: 1px solid #ccc;
}

.ponyo-generic-signature {
    font-size: large;
}

.ponyo-generic-name {
    font-weight: bold;
    padding: 0 10px;
}

.ponyo-generic-name-label-colon {
    padding-right: 10px;
}

.ponyo-signature-description,
.ponyo-generic-description {
    padding: 10px 0;
}
