body {
    font-family: serif;
}

a {
    color: #e00000;
}

a:hover {
    color: #a50000;
}

h1, h2 {
    font-family: sans-serif;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
    margin: 30px 0 15px;
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container-small {
    max-width: 650px;
}

pre,
pre code,
.hljs {
    max-width: 750px;
}

pre {
    background: #fcfcfc !important;
    border-radius: 0;
    border: 1px solid #ddd !important;
}

pre:last-child {
    margin-bottom: 0;
}
    
code.hljs {
    background: none !important;
}

.nav {
    display: inline-block;
}

.nav a {
    padding: 0 10px;
}

p,
li {
    font-size: 1.1rem;
    line-height: 1.6rem;
}

.nav:first-of-type a {
    padding-left: 0;
}

body > header {
    padding: 15px 0;
    background: rgb(165, 0, 0);
    background: linear-gradient(90deg, rgb(165, 0, 0) 0%, rgb(175, 0, 0) 66%, rgb(183, 0, 0) 100%);
}

body > header .nav a {
    color: white;
    font-family: sans-serif;
}

body > .header2 {
    background: rgb(165, 0, 0);
    background: linear-gradient(90deg, rgb(165, 0, 0) 0%, rgb(175, 0, 0) 66%, rgb(183, 0, 0) 100%);
    padding: 50px 0;
    color: white;
}

body > .header2 h1 {
    margin-top: 0;
}

body > .header2 a {
    color: white;
    text-decoration: underline;
}

body > .header2 iframe {
    margin-top: 15px;
}

.page {
    padding: 50px 0;
}

.page:nth-child(odd) {
    background: #eee;
    border: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
}

footer {
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

.sidebar-container h3 {
    border-bottom: 1px solid #ccc;
}

.sidebar-container h4 {
    border-bottom: 1px solid #eee;
}

.sidebar {
    border: 1px solid #ccc;
    padding: 15px;
}

.sidebar h4 {
    margin: 0;
    margin-bottom: 10px;
}

.sidebar-section:not(:last-child) {
    margin-bottom: 5px;
}

.sidebar ul {
    margin: 0;
}

.sidebar li, .sidebar p {
    font-size: .9rem;
    line-height: 1.2rem;
}

.subheader {
    color: #777;
    margin-bottom: 10px;
}

.note {
    background: #e6f6ff;
    border: #aae0ff 1px solid;
    padding: 10px;
    font-size: .8rem;
}

ol.chapters {
  counter-reset: number;
}

ol.chapters li {
  list-style: none;
  counter-increment: number;
}

ol.chapters li::before {
  content: "Chapter " counter(number) ".";
  position: relative;
  left: -5px;
}
