extends ../tmpl/base.jade

block body
    .container
        .row
            .col-6
                header
                    | Blog
                    h2 The Ponyo Handbook
                    .subheader April 25, 2016 by Phil Eaton
                article
                    p.
                        It's been a little more than a month since ponyo.org first
                        came online. Less has happened than I would have liked, but
                        I just started a new job and things have begun to settle
                        again. However, significantly more than nothing has happened
                        and there is some news to report.
                    p.
                        Since the last post, documentation generation has taken a
                        serious step forward. You can begin to see documentation
                        generated and hosted here already. While the foundation has
                        begun to be made, there is still a large amount that the
                        Ponyo Standard ML parser cannot parse. So certain structures
                        cannot be documented until they can be fully parsed.
                    p.
                        I've also begun to work on a testing framework for Ponyo.
                        This is one of my highest priorities, but is not completely
                        straightforward.
                    p.
                        But the most exciting news to announce is the beginnings
                        of the Ponyo handbook. My goal with the handbook is to
                        collect a number of "tracks" of learning relevant for those
                        interested in Ponyo. Today, I announce the first article in
                        the Standard ML Basics track. I plan to follow up shortly
                        with the first article in the Ponyo Basics track. If you are
                        interested in contributing to the handbook or see mistakes
                        or areas in need of improvement, please remember this is a
                        community document and can be improved by the community via
                        the Github pull request and issues interfaces.
                    p.
                        That's it for now. Happy compiling folks!