extends ../../tmpl/base.jade

block body
    .container
        .sidebar-container
            .row
                .col-6
                    | Guides &bull; Learn Standard ML &bull; Chapter 5
                    h2 Arrays and Vectors
                    .subheader
                        a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/arrays-and-vectors.jade") Source
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/records") Chapter 6. Records