extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 6
        h1 Arrays and Vectors
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/arrays-and-vectors.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/records") Chapter 7. Records