extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 13
        h1 Debugging and Profiling
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/debugging-and-profiling.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/structuring-projects") Chapter 14. Structuring Projects