extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 12
        h1 Functors
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/functors.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.