extends ../../tmpl/base.jade

block body
    .container
        .sidebar-container
            .row
                .col-6
                    | Guides &bull; Learn Standard ML
                    h2 Getting Started
                    .subheader
                        a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/getting-started.jade") Source
                    p.
                        To start using Standard ML, you must pick an implementation.
                        Unlike Python, with a default implementation (CPython), Standard
                        ML has no default implementation. The most useful for development,
                        in no particular order, include
                        <a href="https://www.smlnj.org/">SML/NJ</a>,
                        <a href="http://mlton.org">MLton</a>,
                        <a href="http://www.elsman.com/mlkit/">MLKit</a>,
                        <a href="http://polyml.org">Poly/ML</a>,
                        and <a href="http://www.pllab.riec.tohoku.ac.jp/smlsharp/">SML#</a>.
                        It is a goal of Ponyo, the project, to be able to support
                        each of these implementations. But in the meantime we will focus on
                        MLton and Poly/ML because they are the only fully-supported
                        implementations.
                    p.
                        Note: although MLton is fully-supported, Ponyo must be bootstrapped
                        with Poly/ML.
                    h4 Installing Poly/ML
                    p.
                        Ponyo requires at least Poly/ML v5.7.1. Many systems only have
                        an older version of Poly/ML available. If this is the case and you
                        have already installed Poly/ML, you should uninstall it. You will
                        need to build Poly/ML
                        <a href="#install-polyml-from-source">from source</a>.
                    h5 Ubuntu Linux
                    p.
                        Recent versions of Ubuntu (17.04+) provide Poly/ML 5.7.1.
                    pre
                        code $ sudo apt install polyml
                    h5 Debian Linux
                    p.
                        Debian testing provides Poly/ML 5.7.1. If you are not using
                        Debian testing or you do not know what that means. You will
                        need to build Poly/ML
                        <a href="#install-polyml-from-source">from source</a>.
                    pre
                        code $ sudo apt install polyml
                    h5 Arch Linux
                    pre
                        code $ sudo pacman -S polyml
                    h5 macOS
                    pre
                        code $ brew install polyml
                    h5#install-polyml-from-source From Source
                    p.
                        You will need GNU Make, gcc, and git.
                    pre
                        code.
                            $ git clone https://github.com/polyml/polyml
                            $ git checkout v5.7.1
                            $ cd polyml
                            $ ./configure
                            $ make
                            $ make compiler
                            $ sudo make install
                            $ poly -v
                            Poly/ML 5.7.1 Release    RTS version: X86_64-5.7.1
                    h4 Installing MLton
                    p.
                        Ponyo requires at least MLton 20180207 (this may not actually
                        be the case but is a safe bet). Many systems only have an
                        older version of MLton available. If this is the case and
                        you have already installed MLton, you should uninstall it.
                        You will need to build MLton
                        <a href="#install-mlton-from-source">from source</a>.
                    h5 Ubuntu Linux
                    p No versions of Ubuntu Linux provide an up-to-date MLton.
                    h5 Debian Linux
                    p No versions of Debian Linux provide an up-to-date MLton.
                    h5 Arch Linux
                    pre
                        code $ sudo pacman -S mlton
                    h5 macOS
                    pre
                        code $ brew install mlton
                    h5#install-mlton-from-source From Source
                    p.
                        The MLton build steps are complicated and best-documented on
                        the <a href="https://github.com/mlton/mlton#build-and-install-from-source">MLton README</a>.