extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 5
        h1 Lists and Tuples
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/lists-and-tuples.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/arrays-and-vectors") Chapter 6. Arrays and Vectors