extends ../../tmpl/base.jade

block body
    .container
        .sidebar-container
            .row
                .col-6
                    | Guides &bull; Learn Standard ML &bull; Chapter 6
                    h2 Records
                    .subheader
                        a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/records.jade") Source
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/basic-types") Chapter 7. Basic Types