extends ../../tmpl/base.jade

block body
    .container
        .sidebar-container
            .row
                .col-6
                    | Guides &bull; Learn Standard ML &bull; Chapter 10
                    h2 Signatures
                    .subheader
                        a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/signatures.jade") Source
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/functors") Chapter 11. Functors