extends ../../tmpl/base.jade

block body
    .container
        .sidebar-container
            .row
                .col-6
                    | Guides &bull; Learn Standard ML &bull; Chapter 9
                    h2 Structures
                    .subheader
                        a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/structures.jade") Source
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/signatures") Chapter 10. Signatures