extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 10
        h1 Structures
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/structures.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.
                    p
                        a(href="/guides/learn-standardml/signatures") Chapter 11. Signatures