extends ../../tmpl/base.jade

block body
    .container
        | Guides &bull; Learn Standard ML &bull; Chapter 14
        h1 Structuring Projects
        .subheader
            a(href="https://github.com/eatonphil/ponyo/blob/master/site/static/app/templates/guides/learn-standardml/structuring-projects.jade") Source
    .container
        .sidebar-container
            .row
                .col-md-6
                    p This chapter is WIP.