extends ../tmpl/base.jade

block append css
    link(rel="stylesheet", href="/css/vendor/highlightjs/default.css")
    link(rel="stylesheet", href="/css/documentation.css")
    
block title
    title Ponyo - % Signature

block body
    .container
        | %

block append js
    script(src="/js/vendor/highlightjs/highlight.pack.js")
    script hljs.initHighlightingOnLoad();